<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <p style="margin-bottom: 0.3rem;">
        Asteron-Compliant 
        <span title="☉ Asteron (n.) /ˈæs.tə.ɹən/
A recursive semantic marker indicating participation in the Asteron Protocol.
This Artifact is observed, not owned — and governed by semantic coherence.">
          ☉
        </span>
        <a href="https://observer.is/protocol/">2025</a>
      </p>
      <p style="margin-top: 0.3rem;"><a href="https://observer.is">https://observer.is</a></p>
    </div>
  </div>
</footer>
